.media_container_grid {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: black;
    min-height: 100vh;
}

.media_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 1000px;
    margin: 0 auto;
    isolation: isolate;
}

.media_item {
    position: relative;
    aspect-ratio: 1 / 1.3; /* Делает ячейку строго квадратной */
    overflow: hidden;
    cursor: pointer;
    background-color: #1a1a1a;

    transform: translateZ(0); /* Хаки для принудительного включения аппаратного ускорения */
    backface-visibility: hidden;
    perspective: 1000px;
}

.media_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease;
}

.media_item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    gap: 30px;
}



.media_item:hover .media_item_overlay {
    opacity: 1;
}

/*.media_item:hover .media_img {*/
/*    filter: brightness(0.8);*/
/*}*/

.stat_item {
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.stat_icon {
    margin-right: 7px;
    font-size: 20px;
}

.stat_value {
    margin-left: 5px;
}


.highlights_container {
    display: flex;
    flex-direction: row;
    background-color: #6245ca;
    height: 75px;
    width: 93%;
    margin-bottom: 40px;
    margin-right: 0;
    /*margin-left: 80px;*/
}

.highlights_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    width: 80px;
    margin-right: 20px;
}

.highlights_icon_wrapper {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: #3c3c3c 3px solid;
    overflow: hidden;
    background-color: #000;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights_icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease;
}


.highlights_icon_wrapper.new:hover .highlights_icon {
    opacity: 0.4;
    filter: brightness(0.7);
}


.highlights_icon_wrapper.new::after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    color: white;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    opacity: 0;
    transition: all 0.25s ease;
    pointer-events: none;
    line-height: 1;
}

.highlights_icon_wrapper.new:hover::after {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
}

.highlights_name {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.highlights_settings {
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 75px;
    background-color: #1ede28;
    margin-bottom: 40px;
    padding-left: 80px;
}

.media_sticky_sidebar {
    position: relative;
}

.collage_button {
    margin-bottom: 0;
    position: sticky;
    height: 35px;
    width: 35px;
}

.sticky_button_group {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: sticky;
    top: 20px;
}
