body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.page_background {
  background-image: url('../public/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  min-height: 100vh;
  /*width: 85%;*/
  width: fit-content;
  background-color: rgba(21, 21, 21, 0.75);
  border-left: #3c3c3c 1px solid;
  border-right: #3c3c3c 1px solid;
}
